# Logs
logs
*.log
npm-debug.log*

# Environment files
.env
backend/.env

# Backend database
backend/data/

# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
